<div class="flex justify-center mt-10">
  <table class="table-fixed border">
    <thead class="border">
      <tr>
        <th class="border">ID</th>
        <th class="border">Titulo</th>
        <th class="border">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let peli of (listaPelis$ | async)">
        <td class="border">{{peli.id}}</td>
        <td class="border"><a [routerLink]="['/peliculas', peli.id]" class="hover:bg-slate-500">{{peli.titulo}}</a></td>
        <td class="border"><button class="cursor-pointer hover:bg-slate-500">Modificar</button></td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>