<form action="#" class="mx-auto w-50">
  <label for="titulo" class="leading-7 text-sm text-gray-600">Titulo</label>
  <input type="text" name="titulo" [(ngModel)]="nuevoLibro.titulo" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">

  <label for="autor" class="leading-7 text-sm text-gray-600">Autor</label>
  <input type="text" name="autor" [(ngModel)]="nuevoLibro.autor" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">

  <input type="button" value="Enviar" (click)="anadirLibro()" class="mt-5 flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
</form>

<div class="text-center mt-5">
  <a href="/libros">Atras</a>
</div>
