<h1>{{title}}</h1>

<form>
  <label for="nombre">Nombre</label>
  <input type="text" name="nombre" id="nombre" [(ngModel)]="nombre">
  <br><br>
  <label for="apellidos">Apellidos</label>
  <input type="text" name="apellidos" id="apellido" [(ngModel)]="apellido">
  <br><br>
  <button (click)="altaUsuario()">Añadir</button>
</form>

<div>
  <p class="morado" *ngIf="alta; else otraRama">{{mensaje}}</p>
</div>

<ng-template #otraRama>
  <p>Ninguna alta</p>
</ng-template>

<h1>Todas las personas</h1>
<div *ngFor="let persona of personas; let i = index">
  <ul>
    <li>{{ i + 1 }}</li>
    <li>{{persona.nombre}}</li>
    <li>{{persona.apellido}}</li>
    <li>{{persona.edad}}</li>
  </ul>
</div>

<h1>Mayores de 30</h1>
<div *ngFor="let persona of personas; let i = index" >
  <ul *ngIf="persona.edad>=30">
    <li>{{i}}</li>
    <li>{{persona.nombre}}</li>
    <li>{{persona.apellido}}</li>
    <li>{{persona.edad}}</li>
  </ul>
</div>

<button (click)="nostrarTexto($event)">A</button>
<button (click)="nostrarTexto($event)">B</button>
<button (click)="nostrarTexto($event)">C</button>

<div [ngSwitch]="text">
  <p *ngSwitchCase="'A'">Pulsado el botón A</p>
  <p *ngSwitchCase="'B'">Ha pulsado el botón B</p>
  <p *ngSwitchCase="'C'">Ha pulsado el botón C</p>
  <p *ngSwitchDefault>No ha seleccionado ningún botón</p>
</div>

<hr>

<app-articulo></app-articulo>

<div *ngFor="let p of personas; let i = index">
  <app-listado-personas [per]="p" (nombre)="nombreDelHijo($event)"></app-listado-personas>
</div>

<p>{{nombreDesdeElhijo}}</p>