<div *ngIf="(listaUsers$ | async) as user" class="flex justify-center">
  <table>
    <tr>
      <th class="border text-center p-3">Foto</th>
      <th class="border text-center p-3">Nombre</th>
      <th class="border text-center p-3">Apellidos</th>
      <th class="border text-center p-3">Email</th>
      <th class="border text-center p-3">Dirección</th>
      <th class="border text-center p-3">Ciudad</th>
    </tr>
    <tr *ngFor="let user of user.results">
      <td class="border text-center p-3"><img [src]="user.picture.medium" alt=""></td>
      <td class="border text-center p-3">{{user.name.first}}</td>
      <td class="border text-center p-3">{{user.name.first}}</td>
      <td class="border text-center p-3">{{user.email}}</td>
      <td class="border text-center p-3">{{user.location.street.name}} - {{user.location.street.number}}</td>
      <td class="border text-center p-3">{{user.location.city}}</td>
    </tr>
  </table>
</div>
