<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a href="/home" class="mr-5 hover:text-gray-900">Home</a>
      <a href="/libros" class="mr-5 hover:text-gray-900">Libros</a>
      <a class="mr-5 hover:text-gray-900">Contacto</a>
    </nav>
  </div>
</header>

<h1 class="text-4xl text-center mt-10">{{title}}</h1>

<router-outlet></router-outlet>